doctype
html
    head
        title Courses
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
    body(ng-app="app")
        h1 Hi from layout

        block main-content

        include scripts