.navbar-right(ng-controller="LoginController")
    form.navbar-form
        .form-group
            input.form-control(type="text" required="required" placeholder="User Name" ng-model="user.userName")
            input.form-control(type="password" required="required" placeholder="Password" ng-model="user.password")
        button.btn.btn-primary(ng-click="login(user)") Login